/* CSS Document */

/* Fallback styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: #fff7e1;
    color: #141414;
    max-width: 1400px;
    margin: auto;
}


/* Header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 35px;
}

header img {
    width: 270px;
    height: auto;
    align-self: center;
}

#header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    flex: 1;
}

#header-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#header-text h2 {
    font-size: 1rem;
}

/* Progress bar styles */
.progress-section {
    margin-bottom: 30px;
}

.progress-bar {
    width: 100%;
    height: 42px;
    border: 3px solid #141414;
    border-radius: 5px;
    overflow: hidden;
}

.progress-text {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Main content styles */
main#game-board {
    width: 100%;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    justify-content: space-around;
    height: auto;
}

section.categories {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
    background-color: #FFC907;
    border-radius: 10px;
    width: 100%;
    max-width: none;
    height: auto;
}

section.categories h1 {
    text-align: center;
    font-size: 2rem;
    margin: 10px 0;
}

section.categories p {
    display: none;
}

/* Question screen styles */
#question-screen {
    background-color: #FFC907;
}

#answers {
    display: flex;
    flex-direction: column;
}

/* Buttons styles */
.question-button {
    background-color: #FFF7E1;
    color: #141414;
    border: none;
    height: 62px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.2s;
}

.question-button:hover {
    transform: scale(0.9);
}

/* Hide the Question and Victory screens */

.hidden {
    display: none;
}


/* Responsive Layout */
@media (max-width:1100px){
    #game-board {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:700px){
    header {
        flex-direction: column;
        text-align: center;
    }

    #header-text {
        text-align: center
    }

    #header-text h2 {
        margin: auto;
    }

    main#game-board {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    section.categories {
        justify-content: space-between;
        gap: 0;
        padding: 2px;
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 80px;
        cursor: pointer;
        transition: 0.2s;
    }

    section.categories:hover, section.categories:focus {
        transform: scale(0.9);
    }

    section.categories h1 {
        font-size: 2.1rem;
        margin: auto;
    }

    section.categories p {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.4rem;
    }

    .question-button {
        display: none;
    }
}